{% extends 'base.html' %}
{% block form %}
 <h1 class="text-center">{{problem.name}}</h1>
 <p align="center" >{{problem.problem_desc}}</p>
        

  
    <form action="{% url 'submit' problem.problem_id %}" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <fieldset align="center" style="margin:5rem;">
    
      
        <input type="file" name="solution">
        <button align="center" type="submit" class="btn btn-primary">Submit</button>
        <br></br>
        <p><label for="center">Code Area</label></p>
          <textarea class="form-control" name="code" id="code"  cols="40" rows="5" ></textarea>
        
          <br></br>
        <button align="center" type="submit" class="btn btn-primary">Submit</button>
     </fieldset>
    </form>


{% endblock form %}